<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 font-shadow page-header">
      <h1>Gourmets Online</h1>
    </div>

    <div class="col-md-offset-1">
      <% @users.each do |user| %>
        <div class="col-md-8 col-md-6 user-card">
          <%= link_to user_path(user) do %>
            <%= image_tag user.avatar, width: "100%" %>
            <div class="user-follow">
              <h4><%= user.name %></h4>
          <% end %>
              <p><%= render partial: "shared/follow", locals: {user: user} %></p>
              <p>
              


              </p>
            </div>
          
        </div>
      <% end %>
    </div>
  </div>
</div>

