<div class="favor-btn">
  <% if restaurant.is_liked?(current_user) %>
    <%= link_to unlike_restaurant_path(restaurant), method: :post do %>
      <i class="fas fa-thumbs-up fa-lg"></i>
    <% end %>
  <% else %>
    <%= link_to like_restaurant_path(restaurant), method: :post do %>
      <i class="far fa-thumbs-up fa-lg"></i>
    <% end %>
  <% end %>
</div>
