<div class="background-index">
  <div class="container">
    <h2>New Restaurant</h2>
    <div class="row">
      <div class="col-md-12">
        <div>
          <%= link_to '✪ Index', admin_restaurants_path, class: "btn btn-default" %> 
        </div>
        <hr>
        <div class="col-md-8 col-md-offset-2 overlay">
          <div class="form-block">
            <%= render partial: "form" %>
          </div>
          
        </div>
      </div>

    </div>
  </div>

  
</div>