body {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  background-color: #bb5500;
  margin-bottom: 0;
  padding: 10px 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 20;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #bb5500;
  color: #fff;
}

.dropdown-font > li > a {
  padding: 10px 20px;
  font-weight: 900;
  color: #f13699;
}

.alert {
  margin-bottom: 0;
  text-align: center;
}

.notice {
  margin-bottom: 0;
}

/********* Full background image setting ********/

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -999;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.overlay-a {
  background: rgba(255,255,255,0.6);
  overflow: auto;
  top:0;
  left: 0;
  width: 100%;
  min-height: 800px;
}

.overlay {
  background: rgba(255,255,255,0.6);
  width: 70%;
  height: 100%;
  margin-bottom: 40px;
}

.overlay-r {
  background: rgba(255,255,255,0.6);
  height: 100%;
  margin-bottom: 40px;
}

.overlay-bb {
  background: rgba(0,0,0,0.6);
  width: 70%;
  height: 100%;
  margin-bottom: 40px;
}

.overlay-b {
  background: rgba(0,0,0,0.6);
  width: 85%;
  height: 100%;
  margin-bottom: 20px;
}

.table a {
  color: #000;
}

.pager {
  margin: 0;
  text-align: left;
}

.word-wt {
  color: #fff;
}

.show-block {
  padding: 10px 0;
}

.show-block-des {
  padding: 10px 90px;
  line-height: 24px;
  text-align: justify;
}

.form-block {
  padding: 20px 20px;
}

/**************** show頁面 **************/

.show-name {
  height: 80px;
}

.show-name h2 {
  display: inline-block;
}

.show-name p {
  margin-bottom: 20px;
}

.show-comment {
  padding: 30px;
}

.show-comment .btn {
  background-color: #e67457;
  border: 0;
  color: #fff;
}

.show-comment .btn:hover {
  background-color: #1ed891;
  cursor: pointer;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;

  /** 想要做出 推 bar 效果 QQ  **/
  
}

.comment-block {
  background-color: #FFFAFA;
  padding: 10px;
  margin: 15px 30px;
  border-radius: 8px;
  font-family: 'Belleza', sans-serif;
}

.pager-newer {
  float: right;
}

/********** color of pagination **************/

.pagination > li.active > a {
  background-color: #990036;
  border-color: #990036;
  color: white;
}

.pagination > li > a {
  color: #990036;
}

.pagination > li.active > a:hover {
  background-color: #800080;
}

/********** category new button: flash :alert *********/

.cg-alert {
  height: 30px;
  margin: 5px 300px;
  background-color: red;
  color: white;
  padding-top: 5px;

}

.cg-alert-o {
  height: 30px;
  margin: 10px;
}

/******** restaurants.show css ***********/

.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 3px 3px 12px black;
  height: 380px;
}

.restaurant-item img {
  max-height: 180px;
  width: 100%;
}

.restaurant-item .label {
  display: inline-block;
}

.restaurant-item .caption {
  padding: 10px;
}

/******* index: put nav-pills in the middle *******/

.nav-pills-center {
  text-align: center;
  margin-top: 20px;
}  

.nav-pills-center > li {
  float: none;
  display: inline-block;
  font-weight: 900;
}

/**************** User related *****************/

.edit-user img {
  width:50px;
  margin: 10px;
}

.user-rest {
  display: inline-block;
  text-align: center;
  padding: 8px 8px 0 8px;
}

.user-rest div {
  height: 60px;
}

.user-rest img {
  max-height: 100%;
}

.panel-body-noline a {
  text-decoration:none;
}

.panel a:hover .user-rest {
  background-color: #FFE4E1;
}

.user-card {
  background-color: #fff;
  width: 250px;
  height: 350px;
  border-radius: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  margin: 25px 40px;
}

.user-card img {
  border-radius: 50%;
  margin-top: 20px;
}

.user-follow {
  padding: 20px;
}

.font-mark {
  color: #99004d;
}

/*********** Feeds page *************/

.feeds-box {
  margin: 10px 0;
  padding: 0 40px;
}

.feeds-box h3 {
  font-weight: 900;
}

/*********** Dashboard related **********/

.btn-custom {
  background-color: #00f3fffa;
  color: #fff;
  cursor: pointer;
  margin: 15px 0;
}

.show-block .btn:hover {
  cursor: pointer;
  color: #fff;
}

.show-block .btn:active, btn:visited {
  color: #fff;
  transform: translateY(1px);
}

/********** favorite_like **************/

.favorite_like {
  background-color: #fff;
  border: 2px dashed #000;
  padding: 3px 6px;
  margin: 0px auto;
  width: 90px;
}

.fa-heart {
  color: #ff0000;
}

.right {
  float: right;
}

.favor-btn {
  display: inline-block;
  padding: 0px 2px;
}
.fa-thumbs-up {
  color: #7B68EE;
}

.font-shadow {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.ranking-box {
  margin: 0x 15px;
  padding: 20px 0px;
  height: 200px;

}

.ranking-box img { 
  max-width:160px; 
  myimg:expression(onload=function(){ 
  this.style.width=(this.offsetWidth > 600)?"600px":"auto"})
}
