.navbar {
  background-color: #bb5500;
  padding: 10px 0;
  margin-bottom: 0;
}

.navbar-default .navbar-text {
  color: #fff;
}

.navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-brand {
  color: #fff;
  font-size: 25px;
}

.alert {
  text-align: center;
}

.background-index {
  margin: 0;
  padding: 0;
  background: url(console-background.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.overlay {
  background: rgba(255,255,255,0.6);
  width: 70%;
  height: 100%;
}

.table a {
  color: #000;
}





